exp_dir:
hydra:
  run:
    dir: ${exp_dir}/logs/${now:%Y-%m-%d}/${now:%H-%M-%S}

model:
  pretrained_encoder: AudenAI/auden-encoder-voice  # path to pretrained encoder (loads config + weights)
  encoder: zipformer  # path or model_type for AutoConfig (used if pretrained_encoder is not set)
  freeze_encoder: False  # True to freeze encoder weights
  id2label_json_id: configs/id2label_id.json
  id2label_json_emotion: configs/id2label_emotion.json
  id2label_json_gender: configs/id2label_gender.json
  id2label_json_age: configs/id2label_age.json

trainer:
  optimizer:
    type: scaled_adam
    lr: 0.045
  scheduler:
    type: eden
    lr_epochs: 3.5  # Number of epochs that affects how rapidly the learning rate decreases
    lr_batches: 7500  # Number of steps that affects how rapidly the learning rate decreases
    warmup_batches: 500  # lr warmup steps
    lr_steps_per_epoch: 0  # recommend to adjust when use_infinite_dataset=True
  start_epoch: 1
  num_epochs: 30  # maximum epochs to stop
  start_batch: 0
  num_steps: 300000  # maximum total steps to stop
  keep_last_k: 30  # save last_k checkpoints on disk
  use_averaged_model: True
  log_interval: 50
  average_period: 200  # how rapidly the averaged_model is averaged and saved
  reset_interval: 200  # moving average interval for info tracker
  valid_interval: 1000
  save_every_n: 4  # save checkpoint every (n * valid_interval) steps
  use_fp16: False
  tensorboard: True
  # Task-specific loss weights
  weight_id: 1.0
  weight_emotion: 2.5
  weight_gender: 3.0
  weight_age: 3.0

data:
  train_data_config: configs/data_configs/train_data_config.yaml
  valid_data_config: configs/data_configs/valid_data_config.yaml
  on_the_fly_feats: True
  sampling_rate: 16000
  num_workers: 8
  use_infinite_dataset: True
  data_augmentation:
    enable_spec_aug: True
    enable_musan: False
    musan: /path/to/musan_cuts.jsonl.gz
    enable_speed_perturb: False
  sampler:
    type: bucketing_sampler
    num_buckets: 30
    max_duration: 600
    shuffle: True
    drop_last: True

