exp_dir:
hydra:
  run:
    dir: ${exp_dir}/logs/${now:%Y-%m-%d}/${now:%H-%M-%S}

tokenizer: facebook/bart-base
model:
  model_type: audio-caption  # registered in auden.auto.auto_{config,model}
  audio_encoder:
    model_type: zipformer        # encoder backbone
    pretrained_model: null       # optional HF/local path or model id
    frozen: False                # True to freeze encoder params

trainer:
  optimizer:
    type: scaled_adam
    lr: 0.045
  scheduler:
    type: eden
    lr_epochs: 3.5
    lr_batches: 7500
    warmup_batches: 500
    lr_steps_per_epoch: 0
  start_epoch: 1
  num_epochs: 30
  start_batch: 0
  num_steps: 300000
  ref_duration: 600
  keep_last_k: 30
  use_averaged_model: True
  log_interval: 50
  average_period: 200
  reset_interval: 200
  valid_interval: 1000
  save_every_n: 4
  use_fp16: False
  tensorboard: True

  parallel_decoding_prob: 0.0
  max_length: 128

data:
  train_data_config: configs/train_data_config.yaml
  valid_data_config: configs/valid_data_config.yaml
  on_the_fly_feats: True
  sampling_rate: 16000
  use_infinite_dataset: True
  data_augmentation:
    enable_spec_aug: True
    enable_musan: False
    musan: null
  sampler:
    type: bucketing_sampler
    num_buckets: 30
    max_duration: 600
    shuffle: True
    drop_last: True
  truncate_long_utt: True
  utt_max_duration: 30
  label_field: caption  # REQUIRED: field name where captions are stored


