exp_dir:
hydra:
  run:
    dir: ${exp_dir}/logs/${now:%Y-%m-%d}/${now:%H-%M-%S}

model:
  model_type: azeros
  speech_encoder:
    model_type: zipformer
    pretrained_model: AudenAI/auden-encoder-tta-m10
    frozen: true
  speech_encoder_projector:
    ds_rate: 4  # 25hz / 4 -> 6.25hz
    frozen: false
  paraling_encoder:
    model_type: zipformer
    pretrained_model: AudenAI/auden-encoder-voice
    frozen: true
  paraling_encoder_projector:
    ds_rate: 4
    frozen: false
  llm:
    model_type: qwen2
    pretrained_model: Qwen/Qwen2.5-7B-Instruct
    frozen: true
  use_flash_attn: false
  pretrained_model: null  # param initialization

trainer:
  optimizer:
    type: "adam"
    lr: 0.001
  scheduler:
    type: "eden"
    lr_epochs: 3.5
    lr_batches: 7500
    warmup_batches: 500
    lr_steps_per_epoch: 0
  num_epochs: 30
  start_epoch: 1
  num_steps: 3000000
  start_batch: 0
  ref_duration: 600
  keep_last_k: 30
  use_averaged_model: true
  log_interval: 50
  average_period: 200
  reset_interval: 200
  valid_interval: 2000
  save_every_n: 5
  use_fp16: true
  tensorboard: true

data:
  train_data_config: configs/train_data_config.yaml
  valid_data_config: configs/valid_data_config.yaml
  on_the_fly_feats: true
  sampling_rate: 16000
  num_workers: 8
  use_infinite_dataset: true
  data_augmentation:
    enable_spec_aug: true
    enable_musan: false
    musan: your_path_to_musan_cuts.jsonl.gz
    enable_speed_perturb: false
  sampler:
    type: bucketing_sampler
    num_buckets: 30
    max_duration: 100
    max_cuts: 4
    shuffle: true
    drop_last: true
  text_normalization: false
